body {
    margin: 0;
    background-image: url("../images/geiranger_fjorden_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}

#section-employees {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container {
    position: relative;
    width: 100%;
    min-height: 10%;
}

#employee-list {
    list-style: none;
}

#employee-list ul {
    list-style: none;
    float: left;
    background-color: aliceblue;
    padding: 0;
}

#employee-list li {
    text-align: center;
}

.employee-picture {
    width: 100px;
    margin: 25px;
}