:root {
    --bar-height: 4rem;
}

body {
    margin: 0;
    background-image: url("../images/geiranger_fjorden_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}

#top-bar {
    list-style: none;
    background-color: rgb(8, 8, 97);
    height: var(--bar-height);
    margin: 0;
}

#top-bar > * {
    float: left;
    height: inherit;
    display: flex;
    align-items: center;
}

#top-bar a {
    display: block;
    line-height: var(--bar-height);
    text-align: center;
    padding: 0 1rem;
    text-decoration: none;
    color: white;
}

#top-bar-logo {
    float: right;
    height: inherit;
}

#top-bar a:hover {
    background-color: rgb(19, 19, 194);
}

#contact-us-mail {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    align-items: center;
    transform: translate(-50%, -50%);
}

#mail-text {
    background-color: white;
    padding: 1rem;
    text-align: center;
}