body {
    margin: 0;
    background-image: url("../images/geiranger_fjorden_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}

#contact-us-mail {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    align-items: center;
    transform: translate(-50%, -50%);
}

#mail-text {
    background-color: white;
    padding: 1rem;
    text-align: center;
}