body {
    margin: 0;
    background-image: url("../images/geiranger_fjorden_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    font-family: sans-serif;
}

.main-heading {
    position: relative;
    padding-bottom: 5px;
    color: white;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: sans-serif;
}

.main-heading:before {
    content: '';
    position: absolute;
    height: 5px;
    width: 50%;

    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

    background: rgb(8, 8, 97);
}

main {
    width: 70vw;
    margin: 1rem auto;
    padding: 0.5rem 2rem;
    background: white;
}

.body-text {
    font-size: 20px;
}

/* Gallery */
#gallery-section {
    max-width: 500px;
    position: relative;
    margin: auto;
}

.slide {
    width: inherit;
    height: inherit;
    display: none;
}

.slide > img {
    max-width: 500px;
    max-height: 300px;
}

#prev-button, #next-button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

#next-button {
    right: 0;
}

#prev-button:hover, #next-button:hover {
    background-color: blueviolet;
}

.caption-text {
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(165, 165, 165);
    border-radius: 50%;
    display: inline-block;
    transition: rgb(40, 3, 176) 0.6 ease;
}

.active, .dot:hover {
    background-color: #e6e6e6;
}