body {
    margin: 0;
    background-image: url("../images/geiranger_fjorden_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}

#course-table {
    border-collapse: collapse;
}

#course-table th,#course-table td {
    border: 1px solid;
    background-color: #62d5d5ae;
}
