body {
    margin: 0;
    background-image: url("../images/geiranger_fjorden_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}